//Reset settings for the browser
*,
*:link,
*:active{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%; // converting 1rem to 10px
    background-color: $color-primary;
    width: 100%;
}